.App {
    background: rgb(0, 0, 0);

    position: center;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2),
      0 25px 50px 0 rgba(0, 0, 0, 0.1);
      
    
      padding: 2px;
      padding-left: 2%;
    
      margin-top: -1%;
    
      content: "";
      overflow: hidden;
      
  }
 .List{
    margin: auto;
    width: 60%;
    border: 3px solid #FFFF00;
    padding: 1px;
 }
 .Form{
     text-align: center;
   
 }
 .Button {
     color: #887e7e;
    font-size: 35px;
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #f7f7f7;
    outline: none;
    transition: 1s ease-in-out;
    border-radius: 12px;
    text-align: center;
  }
  .Button:hover {
    transition: 1s ease-in-out;
    background: #eeeeee;
  }
  .Button:hover svg {
    stroke-dashoffset: -480;
  }
  .Button span {
    color: rgb(230, 220, 220);
    font-size: 18px;
    font-weight: 100;
  }
  
  
  